
.ipynb_checkpoints/TidyingDemo-checkpoint.ipynb
.ipynb_checkpoints/TwarcDemo-checkpoint.ipynb
data/.ipynb_checkpoints/demoData-checkpoint.csv
data/.ipynb_checkpoints/demoData2-checkpoint.csv
twarc.log
